/* main theme */
:root {
  --primary: 263 91% 49%;
  --border: 233 27% 88%;
}

.dark {
  --primary: 263 91% 49%;
  --border: 233 27% 88%;
}

/* sensible defaults */
* {
  @apply border-border;
}

body {
  font-feature-settings:
    "rlig" 1,
    "calt" 1;
}
